mat-toolbar button {
	margin-right: 15px;
}

.titleStyle{
	font-weight: 700;
	// font-style: italic;
}

mgl-timeline-entry-header{
	cursor: pointer;
}
.backToHistory{
	color: #2E86CD;
}
.backToHistory:hover{
	text-decoration: underline;
	color: #6384A2;
	cursor: pointer;
}

.backgroundLast{
	background-color:#007bff
}

.showBlock{
	display: block;
}