mat-toolbar button {
  margin-right: 15px;
}

.titleStyle {
  font-weight: 700;
  // font-style: italic;
}

mgl-timeline-entry-header {
  cursor: pointer;
}
.backToHistory {
  color: #2e86cd;
}
.backToHistory:hover {
  text-decoration: underline;
  color: #6384a2;
  cursor: pointer;
}

.backgroundLast {
  background-color: #007bff;
}

.showBlock {
  display: block;
}

mgl-timeline{
	// background-color: #E6E6E6;
}

// mgl-timeline-entry-header{
// 	margin: 0 10px;
// 	background-color: #fff;
// 	padding: 0;
// }

mgl-timeline-entry-content{
	font-style: italic;
}