<div mat-dialog-title class="row">
	<div class="col-md-12 headerReports">
		<div class="row">
			<div class="col-md-6">
				<h2 mat-dialog-title>{{'SLICE_OPERATION_MODAL.SLICE_OPERATION' | translate}}</h2>
			</div>
			<div class="col-md-6">
				<i style="float: right;" class="material-icons" [mat-dialog-close]="true">clear</i>
			</div>
		</div>
	</div>
	<div class="col-md-12 contentReports">
		<mat-dialog-content>
			<div class="text-center progressSpinner" *ngIf="!historyValue || preloader">
				<p-progressSpinner></p-progressSpinner>
			</div>
			<app-timeline></app-timeline>
			<app-grid-data-in-agreement></app-grid-data-in-agreement>
		</mat-dialog-content>
	</div>
	<div class="col-md-12 footerReports">
		<mat-dialog-actions>
			<div class="col-md-8" *ngIf="!headTerritory">
				<div *ngIf="showDeleteBtn">
					<button style="margin: 0 5px;" class="marginbtn" pButton type="button"
						[disabled]="disableBtn || enableApproveSliceBtn == 'false'" (click)="approveSlice()"
						label="Подтвердить"></button>
					<button class="marginBtn" pButton type="button" [disabled]="disableBtn" (click)="rejectInAgreement()"
						label="Отказать"></button>
				</div>
			</div>



			<div class="col-md-8" *ngIf="headTerritory">
				<!-- <div *ngIf="showApproveBtn && showDeleteBtn">
					<button [disabled]="enableDeleteSliceBtn == 'false'" class="marginRightBtn" (click)="deleteSlice()" pButton
						type="button" label="Удалить"></button>
					<button [disabled]="enableConfirmSliceBtn == 'false'" class="marginRightBtn" (click)="confirmSlice()" pButton
						type="button" label="Утвердить"></button>
				</div> -->
				<button pButton (click)="deleteSlice()" *ngIf="showApproveBtn && showDeleteBtn || showOnApprovalBtn"
					label="Удалить" [disabled]="enableDeleteSliceBtn == 'false'" class="marginRightBtn"></button>

				<button pButton (click)="confirmSlice()" *ngIf="showApproveBtn && showDeleteBtn || showOnApprovalBtn"
					label="Утвердить" [disabled]="enableConfirmSliceBtn == 'false'" class="marginRightBtn"></button>

				<button pButton (click)="sendToAgreement()" *ngIf="showOnApprovalBtn" label="На подтверждение"></button>

				<button pButton (click)="sendToPreliminary()" *ngIf="showSendIntoPreliminaryBtn"
					label="Перевести в предварительный"></button>

				<div *ngIf="showDeleteBtnFromError">
					<button [disabled]="enableDeleteSliceBtn == 'false'" class="marginRightBtn" (click)="deleteSlice()" pButton
						type="button" label="Удалить"></button>
				</div>
			</div>




			<div class="col-md-4" style="text-align: right;">
				<p-button [mat-dialog-close]="true" label="{{'SLICE_OPERATION_MODAL.CANCEL' | translate}}"></p-button>
			</div>
		</mat-dialog-actions>
	</div>
</div>
