.logo img {
  width: 70px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}
.logoText {
  display: inline-block;
  vertical-align: middle;
  color: rgb(43, 106, 185);
  font-size: 12px;
  font-weight: 700;
  padding: 15px 0;
}

body .ui-treetable .ui-treetable-tbody > tr > td {
  padding: 0.3em 0.857em;
}

.marqueeText{
	font-weight: 700;
	color: #000 !important;
}

.marquee{
	position: fixed;
	bottom: 0;
	background-color: #fff;
	z-index: 10000;
	width: 100%;
	border: 2px solid #eaeaea;
	height: 30px;
}