.logo img{
		width: 70px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.logoText{
		display: inline-block;
    vertical-align: middle;
    color: rgb(43, 106, 185);
    font-size: 12px;
		font-weight: 700;
		padding: 15px 0;
}

// .h-title{
	
// }