<p-treeTable [value]="gridData" (onNodeExpand)="onNodeExpand($event)" [lazy]="true" [loading]="loading">
  <ng-template pTemplate="colgroup" let-columns>
    <colgroup>
        <col style="width: 40px;">
        <col style="width: 200px;">
        <col style="width: 80px;">
        <col style="width: 100px;">
        <col style="width: 200px;">
        <col style="width: 200px;">
        <col style="width: 100px;">
    </colgroup>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th></th>
      <th *ngFor="let col of cols">
        {{col.header}}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
      <tr>
        <td>
          <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
        </td>
        <td>
          {{rowData.name}}
          <a (click)="openReportsModal(rowData)" class="reportsModalLink" *ngIf="rowNode.level == 2"> <span *ngIf="rowData.id">№{{rowData.id}}</span> <span *ngIf="rowData.period"> период {{rowData.period}}</span></a>
        </td>
        <td>
          {{rowData.maxRecNum}}
        </td>
        <td>
          {{rowData.completed}}
        </td>
        <td style="text-align: center;">
					<button (click)="openOperationSliceModal()" *ngIf="rowData.statusCode == '7' || rowData.statusCode == '1'" mat-flat-button color="primary">Операция со срезами</button>
        </td>
        <td>
          {{rowData.region}}
        </td>
        <td>
          {{rowData.percentComplete}}
        </td>
      </tr>
  </ng-template>
</p-treeTable>