<div [hidden]="!showTable">
	<div class="col-md-12" style="background-color: #E6E6E6;">
		<div class="row" style="padding: 10px 0 0;">
			<div class="col-md-6">
				<p><span style="font-weight: bold;">Срез отправил на согласование: </span> {{personName}}</p>
			</div>
			<div class="col-md-6" style="text-align: right;">
				<p><span style="font-weight: bold;">Время отправки на согласование среза:</span> {{statusDate}}</p>
			</div>
		</div>
	</div>


	<p-table class="table" [value]="dataAgreement">
		<ng-template pTemplate="colgroup" let-columns>
			<colgroup>
				<!-- Терр.управление -->
				<col style="width: 70px;" />
				<!-- Дата/время -->
				<col style="width: 30px;" />
				<!-- Статус -->
				<col style="width: 30px;" />
				<!-- Фио -->
				<col style="width: 40px;" />
			</colgroup>
		</ng-template>
		<ng-template pTemplate="header">
			<tr>
				<th *ngFor="let col of cols">
					{{col.header}}
				</th>
			</tr>
		</ng-template>

		<ng-template pTemplate="body" let-dataAgreement>
			<tr>
				<td>{{dataAgreement.territoryName}}</td>
				<td>{{dataAgreement.approveDate}}</td>
				<td>
					<a (click)="openRejectionReasonModal(dataAgreement)" class="underline" style="color: red;"
						*ngIf="dataAgreement.approveCode =='2'">{{dataAgreement.approveName}}</a>
					<span *ngIf="dataAgreement.approveCode == '1'">{{dataAgreement.approveName}}</span>
				</td>
				<td>{{dataAgreement.personName}}</td>
			</tr>
		</ng-template>
	</p-table>
</div>


<!-- <table class="table" *ngIf="inputTableInAgreement">
	<thead>
		<tr>
			<th scope="col">{{gridTitle[0]}}</th>
			<th scope="col">{{gridTitle[1]}}</th>
			<th scope="col">{{gridTitle[2]}}</th>
			<th scope="col">{{gridTitle[3]}}</th>
		</tr>
	</thead>
	<tbody *ngFor="let a of gridListInAgreement">
		<tr>
			<th scope="row">{{a.territoryName}}</th>
			<td>{{a.approveDate}}</td>
			<td>
				<a (click)="openRejectionReasonModal(a)" class="underline" style="color: red;"
					*ngIf="a.approveCode =='2'">{{a.approveName}}</a>
				<span *ngIf="a.approveCode == '1'">{{a.approveName}}</span>
			</td>
			<td>{{a.personName}}</td>
		</tr>
	</tbody>
</table> -->