<div *ngIf="inputTableInAgreement" class="col-md-12" style="background-color: #E6E6E6;">
	<div class="row" style="padding: 10px 0 0;">
		<div class="col-md-6">
			<p><span style="font-weight: bold;">Срез отправил на согласование: </span> {{inputPersonName}}</p>
		</div>
	<div class="col-md-6" style="text-align: right;">
		<p><span style="font-weight: bold;">Время отправки на согласование среза:</span> {{inputStatusDate}}</p>
	</div>
	</div>
</div>

<table class="table" *ngIf="inputTableInAgreement">
  <thead>
    <tr>
      <th scope="col">{{gridTitle[0]}}</th>
      <th scope="col">{{gridTitle[1]}}</th>
			<th scope="col">{{gridTitle[2]}}</th>
			<th scope="col">{{gridTitle[3]}}</th>
    </tr>
  </thead>
  <tbody *ngFor="let a of inputDataGridInAgreement">
    <tr>
		<th scope="row">{{a.territoryName}}</th>
      <td>{{a.approveDate}}</td>
      <td>
				<a (click)="openRejectionReasonModal(a)" class="underline" style="color: red;" *ngIf="a.approveCode =='2'">{{a.approveName}}</a>
			<span *ngIf="a.approveCode == '1'">{{a.approveName}}</span>
			</td>
			<td>{{a.personName}}</td>
    </tr>
  </tbody>
</table>

