<header>
	<div class="container-fluid">
		<div class="row">
				<div class="col-md-4" style="display: flex;"> 
					<a class="logo" href="#">
						<img src="../../assets/img/logo.jpg" class="img-responsive">
					</a>
					<span class="logo-text">КОМИТЕТ ПРАВОВОЙ СТАТИСТИКИ И СПЕЦИАЛЬНЫМ УЧЕТАМ
						ГЕНЕРАЛЬНОЙ ПРОКУРАТУРЫ РЕСПУБЛИКИ КАЗАХСТАН</span>
				</div>
				<div class="col-md-4">
					<h1>СТАТИСТИЧЕСКИЕ СРЕЗЫ</h1>
				</div>
				<div class="col-md-3">
				</div>
		</div>
	</div>
</header>

<div class="main-navigation row">
	<span class="title">СТАТИСТИЧЕСКИЕ СРЕЗЫ</span>
	<!-- <span class="regions">
		
	</span> -->
	<mat-form-field class="regions">
		<mat-label style="color: #fff;">Выберите регион</mat-label>
		<mat-select>
			<mat-option *ngFor="let food of foods" [value]="food.value">
				{{food.viewValue}}
			</mat-option>
		</mat-select>
	</mat-form-field>
</div>
<br>
