<div class="row">
  <div class="col-md-12">
    <mat-tab-group (selectedTabChange)="onTabSelectedEvent($event)" [selectedIndex]=selected>
      <mat-tab label="Срезы">
        <div class="sliceContent ">
          <!-- <mat-icon aria-hidden="false" aria-label="Example home icon">
            sync
          </mat-icon>
					<mat-checkbox>Показать удаленные</mat-checkbox> -->
					<p-button label="Обновить" icon="pi pi-refresh" iconPos="left"></p-button>
					<p-checkbox class="showDeletedCheckbox" icon="pi pi-check" name="group1" value="New York" label="Показать удаленные" inputId="ny"></p-checkbox>
        </div>
      </mat-tab>
      <mat-tab label="Сформировать">
        <div class="orderSliceContent">
          <div class="container">
            <div class="row">
              <div class="col-md-12" style="float: none; margin: 0 auto;">
                <h2>Сформировать срез</h2>
              </div>
              <div class="col-md-6">
								
                <form [formGroup]="groupListFormGroup">
									<div class="box">
										<mat-checkbox color="primary" [disabled]="group.disabledStatus" (change)="onCheckedGroup($event)" *ngFor="let group of groupList; let i = index" [value]="group">{{group.name}}</mat-checkbox>
									</div>
								</form>
								
              </div>
							<div class="forms" class="col-md-6" style="text-align: left;">
								<div class="col-md-12">
									<!-- <h6>Дата начала отчета *</h6> -->
									<mat-form-field>
										<input matInput [matDatepicker]="picker" placeholder="Дата начала отчета *" [formControl]="dateFrom">
										<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
										<mat-datepicker #picker></mat-datepicker>
									</mat-form-field>
									<!-- <p-calendar [style]="{'width':'90%'}" [inputStyle]="{'width':'90%'}" [(ngModel)]="dateFrom" [showIcon]="true"></p-calendar> -->
								</div>
								<br>
								<div class="col-md-12">
									<!-- <h6>Дата окончания отчета *</h6> -->
									<!-- <p-calendar [style]="{'width':'90%'}" [inputStyle]="{'width':'90%'}" [(ngModel)]="dateTo" [showIcon]="true"></p-calendar> -->
									<mat-form-field>
										<input matInput [matDatepicker]="picker1" placeholder="Дата окончания отчета *" [formControl]="dateTo">
										<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
										<mat-datepicker #picker1></mat-datepicker>
									</mat-form-field>
								</div>
								<br>
								<div class="col-md-12">
									<!-- <h6>Статсрез на № *</h6>
									<div class="ui-inputgroup">
										<input style="width: 100%;" type="text" pInputText placeholder="Keyword">   
										<button pButton type="button" icon="pi pi-refresh" class="ui-button-warn"></button>      
									</div> -->
									<mat-form-field class="example-full-width">
										<input matInput type="number" placeholder="Статсрез на № *" [(ngModel)]="max">
									</mat-form-field>
									<span>
										<button (click)="getSliceNumber()" mat-icon-button color="primary" aria-label="Example icon-button with a heart icon">
											<mat-icon>refresh</mat-icon>
										</button>
									</span>
								</div>
							
								<br>
								<div class="col-md-12">
									<button (click)="orderSlice()" class="orderSlice" mat-raised-button color="primary">Сформировать</button>
								</div>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>;
