<!-- Preloader -->
<div class="preloader-block" *ngIf="contentLoading">
	<div class="lds-ring">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
</div>
<!-- END Preloader -->
<div class="container-fluid">
	<div class="row header-modal-reports">
		<div class="col-md-6">
			<h2 mat-dialog-title>{{ "REPORTS_MODAL.GET_REPORTS" | translate }}</h2>
		</div>
		<div class="col-md-6">
			<i style="float: right;" class="material-icons" [mat-dialog-close]="true">clear</i>
		</div>
	</div>
</div>
<mat-dialog-content class="mat-typography tab-reports" *ngIf="!contentLoading">
	<mat-tab-group (selectedIndexChange)="tabChange($event)" animationDuration="5ms" [selectedIndex]="tabIndex">
		<mat-tab>
			<ng-template mat-tab-label>
				<mat-icon class="reports-catalog-tab-icon">folder_open</mat-icon> {{ "REPORTS_MODAL.CATALOG" | translate }}
			</ng-template>
			<form class="reports-modal-form">
				<div>
					<span class="reports-modal-form-label">{{ "REPORTS_MODAL.SLICE_MAX" | translate }}</span>
					<mat-form-field appearance="fill" class="full-width">
						<input [disabled]="true" matInput value="{{ data.sliceId }}" />
					</mat-form-field>
					<span
						class="reports-modal-form-label reports-modal-form-label-period">{{ "REPORTS_MODAL.REPORT_PERIOD" | translate }}</span>
					<mat-form-field appearance="fill" class="full-width">
						<input [disabled]="true" matInput value="{{ data.slicePeriod }}" />
					</mat-form-field>
				</div>
				<div>
					<span class="lang-checkbox-label">{{ "REPORTS_MODAL.REPORT_LANG" | translate }}</span>
					<mat-checkbox [(ngModel)]="reportLangs.ru.isSelected" name="langRu">
						{{ "REPORTS_MODAL.REPORT_RU" | translate }}</mat-checkbox>
					<mat-checkbox [(ngModel)]="reportLangs.kz.isSelected" name="langKz">
						{{ "REPORTS_MODAL.REPORT_KZ" | translate }} </mat-checkbox>
				</div>
			</form>
			<div class="reports-list">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-6">
							<h3 mat-dialog-title>{{ "REPORTS_MODAL.REQUESTED_REPORTS" | translate }}</h3>
							<div class="selected-reports">
								<ul>
									<li *ngFor="let selectedReport of selectedReportsList; let i = index">
										<i class="remove-icon pi pi-times-circle" (click)="removeSelectedReport(i, selectedReport)"></i>
										<span class="requested-report-item">{{ selectedReport.report.name }} -
											{{ selectedReport.region.name }} <span *ngIf="selectedReport.department">-
												{{ selectedReport.department?.name }}</span></span>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-sm-6">
							<h3 mat-dialog-title>
								{{ "REPORTS_MODAL.REPORTS" | translate }}
								<span class="readyReportsCounter" *ngIf="selectedReportsList.length != 0">
									{{ "REPORTS_MODAL.GOT_REPORTS" | translate }} {{ readyReportsParts }} из
									{{ selectedReportsList.length }}
								</span>
							</h3>
							<div class="reports">
								<div class="preloader-block ready-reports" *ngIf="isReportsLoading">
									<div class="lds-ring-readyReports">
										<div></div>
										<div></div>
										<div></div>
										<div></div>
									</div>
								</div>
								<ul *ngIf="!isReportsLoading">
									<li *ngFor="let item of readyReports">
										<a href="{{ item.url }}" target="_blank">{{ item.name | truncate: 55 }}</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</mat-tab>
		<!-- Treetable grid for groupERSOP -->
		<ng-container *ngIf="isGroupERSOP">
			<mat-tab label="{{ group.name }}" *ngFor="let group of reportGroups; let index = index">
				<div class="container-fluid custom-class">
					<div class="row">
						<div style="height: 5px; width: 100%; background: transparent">
							<div *ngIf="loadingERSOP" class="loader">
								<div class="bar"></div>
							</div>
						</div>
						<div class="col-sm-12" *ngIf="gridData.ersop != undefined">
							<p-treeTable [value]="gridData.ersop[group.code]" [columns]="colsERSOP" [lazy]="true" dataKey="code"
								(onNodeExpand)="onNodeExpandGroupERSOP($event, group.code)" [scrollable]="true"
								scrollHeight="{{ gridScrollHeight }}">
								<ng-template pTemplate="header" let-columns>
									<tr>
										<th style="width: 70px">
											<p-checkbox [binary]="true"
												(click)="selectAllRows(group.code, requestedReports.ersop, gridData.ersop, selectAllStatus.ersop)"
												[(ngModel)]="selectAllStatus.ersop[group.code]"></p-checkbox>
										</th>
										<th *ngFor="let col of columns" [ngStyle]="{ width: col.width }">{{ col.header }}</th>
									</tr>
								</ng-template>
								<ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
									<tr [ttSelectableRow]="rowNode">
										<td style="width: 70px">
											<p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
										</td>
										<td *ngFor="let col of columns; let i = index" [ngStyle]="{ width: col.width }">
											<p-checkbox [(ngModel)]="requestedReports.ersop[group.code]" [(value)]="rowNode.node.data"
												*ngIf="i == 0 && (rowNode.node.data | json) != '{}'"
												(onChange)="onChangeCheckboxStatus($event, group.code, selectAllStatus.ersop)"></p-checkbox>
											<span [ngStyle]="{
                          width: col.width,
                          'padding-left.px': rowNode.level === 0 ? regionTableIndent / 2 : regionTableIndent * rowNode.level
                        }">
												{{ rowData[col.field] }}
											</span>
										</td>
									</tr>
								</ng-template>
							</p-treeTable>
						</div>
					</div>
				</div>
			</mat-tab>
		</ng-container>
		<!-- END Treetable grid for GroupERSOP -->


		<!-- Treetable grid for groupCourtReport -->
		<ng-container *ngIf="isGroupCourtReport">
			<mat-tab label="{{ group.name }}" *ngFor="let group of reportGroups; let index = index">
				<div class="container-fluid custom-class">
					<div class="row">
						<div style="height: 5px; width: 100%; background: transparent">
							<div *ngIf="loadingCourtReport" class="loader">
								<div class="bar"></div>
							</div>
						</div>
						<div class="col-sm-12" *ngIf="gridData.courtReport != undefined">
							<p-treeTable [value]="gridData.courtReport[group.code]" [columns]="colsCourtReport" [lazy]="true"
								dataKey="code" (onNodeExpand)="onNodeExpandGroupCourtReport($event, group.code)" [scrollable]="true"
								scrollHeight="{{ gridScrollHeight }}">
								<ng-template pTemplate="header" let-columns>
									<tr>
										<th style="width: 70px">
											<p-checkbox [binary]="true"
												(click)="selectAllRows(group.code, requestedReports.courtReport, gridData.courtReport, selectAllStatus.courtReport)"
												[(ngModel)]="selectAllStatus.courtReport[group.code]"></p-checkbox>
										</th>
										<th *ngFor="let col of columns" [ngStyle]="{ width: col.width }">{{ col.header }}</th>
									</tr>
								</ng-template>
								<ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
									<tr [ttSelectableRow]="rowNode">
										<td style="width: 70px">
											<p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
										</td>
										<td *ngFor="let col of columns; let i = index" [ngStyle]="{ width: col.width }">
											<p-checkbox [(ngModel)]="requestedReports.courtReport[group.code]" [(value)]="rowNode.node.data"
												*ngIf="i == 0 && (rowNode.node.data | json) != '{}'"
												(onChange)="onChangeCheckboxStatus($event, group.code, selectAllStatus.courtReport)">
											</p-checkbox>
											<span [ngStyle]="{
                          width: col.width,
                          'padding-left.px': rowNode.level === 0 ? regionTableIndent / 2 : regionTableIndent * rowNode.level
                        }">
												{{ rowData[col.field] }}
											</span>
										</td>
									</tr>
								</ng-template>
							</p-treeTable>
						</div>
					</div>
				</div>
			</mat-tab>
		</ng-container>
		<!-- END Treetable grid for groupCourtReport -->

		<!-- Treetable grid for groupAdminViolations -->
		<ng-container *ngIf="isGroupAdminViolations">
			<mat-tab label="{{ group.name }}" *ngFor="let group of reportGroups; let index = index">
				<div class="container-fluid custom-class">
					<div class="row">
						<div style="height: 5px; width: 100%; background: transparent">
							<div *ngIf="loadingAdminViolations" class="loader">
								<div class="bar"></div>
							</div>
						</div>
						<div class="col-sm-12" *ngIf="gridData.adminViolations != undefined">
							<p-treeTable [value]="gridData.adminViolations[group.code]" [columns]="colsCourtReport" [lazy]="true"
								dataKey="code" (onNodeExpand)="onNodeExpandGroupAdminViolations($event, group.code)" [scrollable]="true"
								scrollHeight="{{ gridScrollHeight }}">
								<ng-template pTemplate="header" let-columns>
									<tr>
										<th style="width: 70px">
											<p-checkbox [binary]="true"
												(click)="selectAllRows(group.code, requestedReports.adminViolations, gridData.adminViolations, selectAllStatus.adminViolations)"
												[(ngModel)]="selectAllStatus.adminViolations[group.code]"></p-checkbox>
										</th>
										<th *ngFor="let col of columns" [ngStyle]="{ width: col.width }">{{ col.header }}</th>
									</tr>
								</ng-template>
								<ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
									<tr [ttSelectableRow]="rowNode">
										<td style="width: 70px">
											<p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
										</td>
										<td *ngFor="let col of columns; let i = index" [ngStyle]="{ width: col.width }">
											<p-checkbox [(ngModel)]="requestedReports.adminViolations[group.code]"
												[(value)]="rowNode.node.data" *ngIf="i == 0 && (rowNode.node.data | json) != '{}'"
												(onChange)="onChangeCheckboxStatus($event, group.code, selectAllStatus.adminViolations)">
											</p-checkbox>
											<span [ngStyle]="{
                          width: col.width,
                          'padding-left.px': rowNode.level === 0 ? regionTableIndent / 2 : regionTableIndent * rowNode.level
                        }">
												{{ rowData[col.field] }}
											</span>
										</td>
									</tr>
								</ng-template>
							</p-treeTable>
						</div>
					</div>
				</div>
			</mat-tab>
		</ng-container>
		<!-- END Treetable grid for groupAdminViolations -->

		<!-- Treetable grid for Prokuratura -->
		<ng-container *ngIf="isGroupProkuratura">
			<mat-tab label="{{ group.name }}" *ngFor="let group of reportGroups; let index = index">
				<div class="container-fluid custom-class">
					<div class="row">
						<div style="height: 5px; width: 100%; background: transparent">
							<div *ngIf="loadingProkuratura" class="loader">
								<div class="bar"></div>
							</div>
						</div>
						<div class="col-sm-12" *ngIf="gridData.prokuratura != undefined">
							<p-treeTable [value]="gridData.prokuratura[group.code]" [columns]="colsCourtReport" [lazy]="true"
								dataKey="code" (onNodeExpand)="onNodeExpandGroupProkuratura($event, group.code)" [scrollable]="true"
								scrollHeight="{{ gridScrollHeight }}">
								<ng-template pTemplate="header" let-columns>
									<tr>
										<th style="width: 70px">
											<p-checkbox [binary]="true"
												(click)="selectAllRows(group.code, requestedReports.prokuratura, gridData.prokuratura, selectAllStatus.prokuratura)"
												[(ngModel)]="selectAllStatus.prokuratura[group.code]"></p-checkbox>
										</th>
										<th *ngFor="let col of columns" [ngStyle]="{ width: col.width }">{{ col.header }}</th>
									</tr>
								</ng-template>
								<ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
									<tr [ttSelectableRow]="rowNode">
										<td style="width: 70px">
											<p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
										</td>
										<td *ngFor="let col of columns; let i = index" [ngStyle]="{ width: col.width }">
											<p-checkbox [(ngModel)]="requestedReports.prokuratura[group.code]" [(value)]="rowNode.node.data"
												*ngIf="i == 0 && (rowNode.node.data | json) != '{}'"
												(onChange)="onChangeCheckboxStatus($event, group.code, selectAllStatus.prokuratura)">
											</p-checkbox>
											<span [ngStyle]="{
                          width: col.width,
                          'padding-left.px': rowNode.level === 0 ? regionTableIndent / 2 : regionTableIndent * rowNode.level
                        }">
												{{ rowData[col.field] }}
											</span>
										</td>
									</tr>
								</ng-template>
							</p-treeTable>
						</div>
					</div>
				</div>
			</mat-tab>
		</ng-container>
		<!-- END Treetable grid for Prokuratura -->

		<ng-container *ngIf="!isGroupERSOP && !isGroupCourtReport && !isGroupAdminViolations && !isGroupProkuratura">
			<mat-tab label="{{ group.name }}" *ngFor="let group of reportGroups; let index = index">
				<div class="container-fluid">
					<div class="row">
						<div class="col-sm-12">
							<div class="preloader-block" *ngIf="contentLoading">
								<div class="lds-ring">
									<div></div>
									<div></div>
									<div></div>
									<div></div>
								</div>
							</div>
						</div>
						<!-- Treetable grid for Regions -->
						<div class="col-sm-6" *ngIf="gridData.regs != undefined" [ngClass]="{'col-sm-12': hideColsDepTable}">
							<p-treeTable [value]="gridData.regs[group.code]" [columns]="colsReg" [lazy]="true" dataKey="code"
								[scrollable]="true" scrollHeight="{{ gridScrollHeight }}">
								<ng-template pTemplate="header" let-columns>
									<tr>
										<th style="width: 100px">
											<p-checkbox [binary]="true"
												(click)="selectAllRows(group.code, requestedReports.regs, gridData.regs, selectAllStatus.regs)"
												[(ngModel)]="selectAllStatus.regs[group.code]"></p-checkbox>
										</th>
										<th *ngFor="let col of columns" [ngStyle]="{ width: col.width }">{{ col.header }}</th>
									</tr>
								</ng-template>
								<ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
									<tr [ttSelectableRow]="rowNode">
										<td style="width: 100px">
											<p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>

										</td>
										<td *ngFor="let col of columns; let i = index"
											[ngStyle]="{ width: col.width, 'padding-left.px': rowNode.level === 0 ? regionTableIndent : regionTableIndent * rowNode.level }">
											<p-checkbox *ngIf="i == 0 && (rowNode.node.data | json) != '{}'"
												[(ngModel)]="requestedReports.regs[group.code]" [(value)]="rowNode.node.data"
												(onChange)="onChangeCheckboxStatus($event, group.code, selectAllStatus.regs)">
											</p-checkbox>
											{{ rowData[col.field] }}
										</td>
									</tr>
								</ng-template>
							</p-treeTable>
						</div>
						<!-- END Treetable grid for Regions -->

						<!-- Treetable grid for Departments -->
						<div class="col-sm-6" *ngIf="gridData.deps != undefined && !hideColsDepTable">
							<p-treeTable [value]="gridData.deps[group.code]" [columns]="colsDep" dataKey="code" [scrollable]="true"
								scrollHeight="{{ gridScrollHeight }}">
								<ng-template pTemplate="header" let-columns>
									<tr>
										<th style="width: 45px">
											<p-checkbox [binary]="true"
												(click)="selectAllRows(group.code, requestedReports.deps, gridData.deps, selectAllStatus.deps)"
												[(ngModel)]="selectAllStatus.deps[group.code]"></p-checkbox>
										</th>
										<th *ngFor="let col of columns" [style.width]="col.width">{{ col.header }}</th>
									</tr>
								</ng-template>
								<ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
									<tr [ttSelectableRow]="rowNode">
										<td style="width: 45px">
											<p-checkbox [(ngModel)]="requestedReports.deps[group.code]" [(value)]="rowNode.node.data"
												(onChange)="onChangeCheckboxStatus($event, group.code, selectAllStatus.deps)"></p-checkbox>
										</td>
										<td *ngFor="let col of columns; let i = index" [style.width]="col.width">
											{{ rowData[col.field] }}
										</td>
									</tr>
								</ng-template>
							</p-treeTable>
						</div>
						<!-- END Treetable grid for Departments -->
					</div>
				</div>
			</mat-tab>
		</ng-container>


	</mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions *ngIf="!contentLoading" align="end">
	<button mat-flat-button color="primary" (click)="getReports()" [disabled]="!isReportsSelected">
		{{ "REPORTS_MODAL.BTN_GET_REPORTS" | translate }}
	</button>
	<!-- <button mat-flat-button color="primary" (click)="openFirstTab()" *ngIf="tabIndex !== 0">
    {{ "REPORTS_MODAL.BTN_GET_REPORTS" | translate }}
  </button> -->
	<button mat-flat-button color="primary" mat-dialog-close>{{ "REPORTS_MODAL.BTN_CANCEL" | translate }}</button>
</mat-dialog-actions>