<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-6">
				<h2 mat-dialog-title>Получение отчетов</h2>
			</div>
			<div class="col-md-6">
				<i style="float: right;" class="material-icons" [mat-dialog-close]="true">
					clear
					</i>
			</div>
		</div>
	</div>
</div>
<mat-dialog-content class="mat-typography">
	<mat-tab-group (selectedIndexChange)="tabChange($event)"  mat-stretch-tabs animationDuration="5ms" [selectedIndex]="selected">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="reports-catalog-tab-icon">folder_open</mat-icon>
        Каталог
      </ng-template>
      <form class="example-form">
        <div>
          Статсрез на №
          <mat-form-field appearance="fill" class="example-full-width">
            <input [disabled]=true matInput value="{{data.sliceId}}">
          </mat-form-field>
          Отчетный период
          <mat-form-field appearance="fill" class="example-full-width">
            <input [disabled]=true matInput value="{{data.slicePeriod}}">
          </mat-form-field>
        </div>
        <div>
          <span class="lang-checkbox-label">Язык отчета</span>
          <mat-checkbox [(ngModel)]="reportLangs.ru.isSelected" name="langRu">{{reportLangs.ru.name}}</mat-checkbox>
          <mat-checkbox [(ngModel)]="reportLangs.kz.isSelected" name="langKz">{{reportLangs.kz.name}}</mat-checkbox>
        </div>
      </form>
      <div class="reports-list">
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6">
              <h3 mat-dialog-title>Запрошенные отчеты</h3>
              <div class="selected-reports">
                <ul>
                  <li *ngFor="let item of selectedReportsList; let i = index">
                    <i class="remove-icon pi pi-times-circle" (click)="removeSelectedReport(i, item)"></i><span class="requested-report-item">{{item.report.name}} - {{item.region.name}} - {{item.department.data.name}}</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-6">
              <h3 mat-dialog-title>Отчеты 
                <span class="readyReportsCounter" *ngIf="selectedReportsList.length != 0">Получено {{readyReportsParts}}  из {{selectedReportsList.length}}</span>
              </h3>
              <div class="reports">
                <ul>
                  <li *ngFor="let item of readyReports"><a href="{{item.url}}" target="_blank">{{item.name}}</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="{{group.name}}" *ngFor="let group of reportGroups; let index = index">
      <div class="container-fluid">
        <div class="row">
          <!-- Treetable grid for Regions -->
          <div class="col-sm-6" *ngIf="gridRegDataArray != undefined">
            <p-treeTable [value]="gridRegDataArray[group.code]" [columns]="colsReg" (onNodeExpand)="onNodeExpand($event)" 
                         [lazy]="true" [loading]="loadingReg" selectionMode="checkbox" [(selection)]="selectedRegNodesArray[group.code]" 
                         dataKey="code" (onNodeSelect)="nodeRegSelect($event, group.code)" (onNodeUnselect)="nodeRegUnselect($event, group.code)" *ngIf="!loadingReg && !loading">
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngFor="let col of columns">
                    {{col.header}}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                <tr [ttSelectableRow]="rowNode">
                  <td *ngFor="let col of columns; let i = index">
                    <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                    <!-- <p-treeTableCheckbox [value]="rowNode" *ngIf="i == 0"></p-treeTableCheckbox> -->
                    <p-checkbox [binary]="true" [ngModel]="isRowSelected(rowNode, group.code)" *ngIf="i == 0" (click)="toggleRowSelection(rowNode, group.code)"></p-checkbox>
                    {{rowData[col.field]}}
                  </td>
                </tr>
              </ng-template>
            </p-treeTable>
          </div>
          <!-- END Treetable grid for Regions -->
          <!-- Treetable grid for Departments -->
          <div class="col-sm-6" *ngIf="gridDepDataArray != undefined">
            <p-treeTable [value]="gridDepDataArray[group.code]" [columns]="colsDep" (onNodeExpand)="onNodeExpand($event)" [lazy]="true" [loading]="loading" selectionMode="checkbox" [(selection)]="selectedDepNodesArray[group.code]" dataKey="code" (onNodeSelect)="nodeSelect($event, group.code)" (onNodeUnselect)="nodeUnselect($event, group.code)" *ngIf="!loading && !loadingReg">
              {{group.name}}
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngFor="let col of columns">
                    {{col.header}}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                  <tr [ttSelectableRow]="rowNode">
                    <td *ngFor="let col of columns; let i = index">
                      <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
                      <p-treeTableCheckbox [value]="rowNode" *ngIf="i == 0"></p-treeTableCheckbox>
                      {{rowData[col.field]}}
                    </td>
                  </tr>
              </ng-template>
            </p-treeTable>
          </div>
          <!-- END Treetable grid for Departments -->
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)=getReports() *ngIf="selected === 0">Получить</button>
  <button mat-button (click)=openFirstTab() *ngIf="selected !== 0">Получить</button>
  <button mat-button mat-dialog-close>Отмена</button>
</mat-dialog-actions>

