@font-face {
	font-family: 'Roboto-Medium';
	font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(../styles/fonts/Roboto/Roboto-Medium.woff2);
}

@font-face {
  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../styles/fonts/Roboto/Roboto-Regular.woff2)
}

@font-face {
  font-family: 'Roboto-Light';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(../styles/fonts/Roboto/Roboto-Light.woff2)
}